* { margin: 0px; padding: 0px; box-sizing: border-box; }

body { display: grid; grid-template-columns: 40% 50%; height: 700px; }

.main1 { background-color: aqua;align-items: center; }
.main2 { padding: 20px 70px 0px 20px; background-color: #ffffff; display: grid; grid-template-columns: 50% 50%; grid-template-rows: 33% 33% 33%; grid-template-areas:
    "img1 img2"
    "img3 img4"
    "img5 img6"
    ; }

.img1 { grid-area: img1; }
.img2 { grid-area: img2; }
.img3 { grid-area: img3; }
.img4 { grid-area: img4; }
.img5 { grid-area: img5; }
.img6 { grid-area: img6; }

img { width: 300px; height: 200px; }

h1 { text-transform: uppercase; color: #ffffff; }

p { color: #ffffff; }

.lugar { padding: 250px 30px 10px 150px; }
.lugar1 { padding: 0px 70px 40px 150px; }

a { display: block; color: #ffffff; padding: 10px 70px 0px 150px ;text-decoration: none; }

.a:hover { color: orange; }

