* { margin: 0px; padding: 0px; }

.container-body { display: flex; align-items: center; flex-direction: column; font-family: sans-serif; }

.container-header { background: url(./img/fundo.jpg) no-repeat; background-size: cover; width: 80%; height: 100vh; color: #ffffff }

.container-nav { background-color: #212529; height: 80px; padding: 0px 15px; display: flex; justify-content: space-between; align-items: center; }

.container-ul { display: flex; }

.container-main { width: 80%; }

.container-section { display: flex; justify-content: space-between; }

.container-protuct { display: flex; flex-direction: column; width: 370px; }

.container-protuct-father { display: flex; }